## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Souillac,MU,-20.5167,57.5167,75.58,94,40,14.97,light rain
1,1,Iqaluit,CA,63.7506,-68.5145,2.93,78,20,12.66,few clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.26,76,40,24.16,scattered clouds
3,3,Grand Gaube,MU,-20.0064,57.6608,76.37,84,54,10.00,light rain
4,4,Dikson,RU,73.5069,80.5464,17.26,96,100,5.23,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Souillac,MU,-20.5167,57.5167,75.58,94,40,14.97,light rain
3,3,Grand Gaube,MU,-20.0064,57.6608,76.37,84,54,10.00,light rain
6,6,Kavieng,PG,-2.5744,150.7967,84.24,72,16,9.35,light rain
7,7,Rikitea,PF,-23.1203,-134.9692,77.58,72,3,14.32,clear sky
9,9,Rojhan,PK,28.6868,69.9534,79.16,16,0,9.73,clear sky
15,15,Saint George,US,37.1041,-113.5841,77.63,16,0,9.22,clear sky
20,20,Touros,BR,-5.1989,-35.4608,80.28,81,96,9.10,overcast clouds
24,24,Bartica,GY,6.4000,-58.6167,77.32,96,93,2.64,overcast clouds
26,26,Kavaratti,IN,10.5669,72.6420,83.32,72,93,2.53,overcast clouds
35,35,Atuona,PF,-9.8000,-139.0333,79.18,77,16,15.70,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                206
City                   206
Country                206
Lat                    206
Lng                    206
Max Temp               206
Humidity               206
Cloudiness             206
Wind Speed             206
Current Description    206
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,75.58,light rain,-20.5167,57.5167,
3,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,
6,Kavieng,PG,84.24,light rain,-2.5744,150.7967,
7,Rikitea,PF,77.58,clear sky,-23.1203,-134.9692,
9,Rojhan,PK,79.16,clear sky,28.6868,69.9534,
15,Saint George,US,77.63,clear sky,37.1041,-113.5841,
20,Touros,BR,80.28,overcast clouds,-5.1989,-35.4608,
24,Bartica,GY,77.32,overcast clouds,6.4000,-58.6167,
26,Kavaratti,IN,83.32,overcast clouds,10.5669,72.6420,
35,Atuona,PF,79.18,few clouds,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,75.58,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
6,Kavieng,PG,84.24,light rain,-2.5744,150.7967,Nusa Island Retreat
7,Rikitea,PF,77.58,clear sky,-23.1203,-134.9692,People ThankYou
9,Rojhan,PK,79.16,clear sky,28.6868,69.9534,Nawab Imam Bux Khan Bangla
15,Saint George,US,77.63,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
20,Touros,BR,80.28,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
24,Bartica,GY,77.32,overcast clouds,6.4000,-58.6167,Sloth Island Nature Resort
26,Kavaratti,IN,83.32,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
35,Atuona,PF,79.18,few clouds,-9.8000,-139.0333,Villa Enata

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,75.58,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,Grand Gaube,MU,76.37,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
6,Kavieng,PG,84.24,light rain,-2.5744,150.7967,Nusa Island Retreat
7,Rikitea,PF,77.58,clear sky,-23.1203,-134.9692,People ThankYou
9,Rojhan,PK,79.16,clear sky,28.6868,69.9534,Nawab Imam Bux Khan Bangla
15,Saint George,US,77.63,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
20,Touros,BR,80.28,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
24,Bartica,GY,77.32,overcast clouds,6.4000,-58.6167,Sloth Island Nature Resort
26,Kavaratti,IN,83.32,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
35,Atuona,PF,79.18,few clouds,-9.8000,-139.0333,Villa Enata

In [11]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))